---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Line from '../reuseable/Line.astro'
import Chips from '../reuseable/Chips.astro'

interface Props {
	project: CollectionEntry<'project'>
}

const { project } = Astro.props
---

<div class="flex flex-col gap-y-5 bg-primary bg-opacity-[15%] px-14 pt-5">
	<div class="flex items-baseline gap-x-9">
		<h3 class="text-5xl">{project.data.title}</h3>
		<Line />
	</div>
	<p class="text-xl">{project.data.description}</p>
	<Chips data={project.data.tags} />
	<Image
		src={project.data.image}
		width="500px"
		height="300px"
		alt={project.data.title}
		class="h-auto w-full"
	/>
</div>
