---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

interface Props {
	project: CollectionEntry<'project'>
}

const { project } = Astro.props
---

<div class="flex flex-col gap-y-5 bg-primary bg-opacity-[15%] px-14 pt-5">
	<div class="flex items-baseline gap-x-9">
		<h3 class="text-5xl">{project.data.title}</h3>
		<span class="h-[2px] w-full bg-black"></span>
	</div>
	<p class="text-xl">{project.data.description}</p>
	<ul class="flex flex-wrap gap-3 *:rounded-full *:bg-primary *:bg-opacity-10 *:px-4">
		{project.data.tags.map((tag) => <li>{tag}</li>)}
	</ul>
	<Image src={project.data.image} width="500px" height="300px" alt={project.data.title} />
</div>
