---
import { getCollection } from 'astro:content'
import Intro from '../reuseable/Intro.astro'
import Button from '../reuseable/Button.astro'
import SelectTag from './SelectTag.astro'
import FormattedDate from '../reuseable/FormattedDate.astro'
import { Picture } from 'astro:assets'

const { posts, tag } = Astro.props
const tags = (await getCollection('blog', (blog) => blog.data.draft !== true)).flatMap(
	(post) => post.data.tags
)
---

<Intro>
	<h1 class="text-accent mb-3 text-4xl sm:text-5xl md:text-6xl">
		<span class="highlight">Go ahead and read</span> my latest blog posts about technology, open source,
		freelancing and more.
	</h1>
	<div class="mb-6 flex">
		<Button class="text-2xl sm:text-3xl" href="/about" title="Who is writing this" />
	</div>
</Intro>
<SelectTag tags={tags} selectedTag={tag} />
<div class="grid grid-cols-1 gap-9 sm:grid-cols-2 md:grid-cols-3">
	{
		posts.map((post) => (
			<a href={`/blog/${post.slug}/`} class="group relative flex flex-col gap-2">
				<div class="w-full max-w-full overflow-hidden">
					<Picture
						src={post.data.heroImage}
						alt={post.data.title}
						width={post.data.heroImage.width / 3}
						densities={[1.5, 2, 2.5, 3]}
						formats={['webp']}
						fallbackFormat="jpeg"
						class="w-full transition-all group-hover:scale-110"
					/>
				</div>
				<p class="text-accent text-primary">{post.data.tags.join(', ')}</p>
				<h2 class="text-xl font-bold group-hover:underline">{post.data.title}</h2>
				<p class="line-clamp-4 group-hover:underline">{post.data.description}</p>
				<p class="mb-3 text-gray-500">
					<FormattedDate date={post.data.pubDate} />
				</p>
				<div class="absolute -right-2 bottom-0 h-24 w-32 rounded-tl-full bg-primary/10" />
			</a>
		))
	}
</div>
