---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'
import BaseHead from '../components/head/BaseHead.astro'
import Header from '../components/head/Header.astro'
import Footer from '../components/Footer.astro'
import SectionHeading from '../components/reuseable/SectionHeading.astro'
import FormattedDate from '../components/reuseable/FormattedDate.astro'
import Intro from '../components/reuseable/Intro.astro'
import BlogSideBox from '../components/blog/BlogSideBox.astro'

type Props = CollectionEntry<'blog'>['data']
const { title, description, pubDate, updatedDate, heroImage, tags, headings, readingTime } =
	Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="mb-14 flex flex-col gap-y-14">
			<article>
				<Intro>
					<div class="flex flex-col gap-6 pb-14">
						<p>
							<a class="text-primary" href="/">Home /</a><a class="text-primary" href="/blog">
								Blog</a
							>
						</p>
						<div><SectionHeading class="highlight inline" title={title} /></div>
						<div class="flex flex-wrap gap-x-6 gap-y-2">
							<div class="flex items-center gap-3 text-gray-500">
								<Icon name="calendar" />
								<span><FormattedDate date={pubDate} /></span>
							</div>
							<div class="flex items-center gap-3 text-gray-500">
								<Icon name="clock" />
								<span>{readingTime.minutesRead}</span>
							</div>
							<div class="flex items-center gap-3 text-gray-500">
								<Icon name="tags" />
								<span>{tags.join(', ')}</span>
							</div>
						</div>
					</div>
				</Intro>
				<div class="flex flex-col gap-x-9 gap-y-3 md:flex-row">
					<BlogSideBox headings={headings} />
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
